snippet sc
@include span-columns($1 of 12);
endsnippet

snippet sh
@include shift($1);
endsnippet

snippet m
margin: $1;
endsnippet

snippet p
padding: $1;
endsnippet

snippet br
border-radius: $1;
endsnippet

snippet b
border: 1px solid $1;
endsnippet

snippet tran
@include transition(all .15s);
endsnippet
