[user]
	name = Swastik
	email = swastik@enlist.io
[diff]
[color]
[alias]
  st = status
  aa = add --all
  ci = commit --verbose
  co = checkout
  di = diff
  dc = diff --cached
  ff = merge --ff-only
	pt = push -u origin
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
